<div class="header">  
    <div id="banner">
      <h1>Vermont Life</h1>
    </div>
    <div class="nav-bar">
      <button class="button"><a routerLink="/food">Food</a></button>
      <button class="button"><a routerLink="/culture">Culture</a></button>
      <button class="button"><a routerLink="/scenery">Scenery</a></button>
      <button class="button"><a routerLink="/about-me">About Me</a></button>
    </div>
</div>

<div id="infinite-scroller" appInfiniteScroller scrollPercent="10" immediateCallback="true" [scrollCallback]="scrollCallback">
    <router-outlet></router-outlet>
</div>
